* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e0ffea ;
}

header {
    width: 100%;
    height: 200px;
    background-color: #159b42;
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.extension {
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
}

header h1 {
    font-size: 5rem;
}

main {
    min-height: calc(100vh - 400px);

    max-width: 1300px;
    padding: 8px;
    margin: 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main > * {
    flex-basis: 100%;
}

input[type=text] {
    all: unset;
    padding: 14px;
    border-radius: 0 10px 10px 0;
    background: #fff;
    flex-basis: 100%;
    outline: 2px solid #159b42;
}

select {
    margin-left: 10px;
    padding: 10px;
    outline: 2px solid #159b42;
    border-radius: 10px;
    border: none;
    background-color: #fff;

}

label {
    background-color: #159b42;
    padding: 14px;
    border-radius: 10px;
    color: white;
    min-width: 200px;
    text-align: center;
    outline: 2px solid #159b42;

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group {
    display: flex;
}

.group:first-of-type label {
    border-radius: 10px 0 0 10px;
}

input[type="submit"], button {
    all: unset;
    max-width: 300px;
    align-self: flex-end;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #0FA899;
    transition: opacity 0.25s ease;
}

button {
    margin-top: 20px;
}

input[type="submit"]:hover, button:hover {
    opacity: 0.8;
}



.calendar, #user-calendar, #group-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1px;
    overflow: hidden;
    border-radius: 16px;
    max-width: 450px;
    width: 100%;
    box-shadow: 7px 7px 0 #bbb;
}

#user-calendar {
    max-width: 500px;
}

.calendar-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-calendar-settings {
    display: none;
}

.calendar-settings h3 {
    margin-bottom: 10px;
}



.day-header {
    text-align: center;
    padding: 10px 0;
    background-color: #0FA899;
    color: white;
    font-size: 20px;
}

.day {
    background-color: #fe6f6f;
    height: 250px;
    width: 100%;
    min-width: 40px;
}

.cell {
    background-color: #fe6f6f;
    border-top: 2px solid #e0ffea ;
    width: 100%;
    height: 30px;
    text-align: center;
}

.cell.selected {
    background-color: #159b42;
}

.cell-time {
    background-color: #0FA899;
    color: white;
}

#group-event {
    display: none;
}


footer {
    width: 100%;
    background-color: #159b42;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    color: white;
}

.margin-bottom-user {
    margin-bottom: 20px;
    padding-left: 150px;
}

.margin-bottom-group {
    margin-bottom: 20px;
    padding-left: 120px;
}


@media only screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}